BlazorApp1/bin/
BlazorApp1/obj/
BlazorApp1/Properties/
BlazorApp2/bin
BlazorApp2/obj/
BlazorApp2/Properties
BlazorApp3/bin/
BlazorApp3/obj/
BlazorApp3/Properties/
TestComponent/bin/
TestComponent/obj/
TestComponent/Properties/
